{% extends 'base.html' %}
{% block content %}

<h1>New Store</h1>

<form method="POST" action="{{ url_for('main.new_store') }}">
    {{ form.csrf_token }} 
    <fieldset>
        <legend>Please enter the store information:</legend>
        
        {% for error in form.title.errors %}
            <span class="error">*{{ error }}</span>
        {% endfor %}
        {{ form.title.label }}
        {{ form.title }}

        {% for error in form.address.errors %}
            <span class="error">*{{ error }}</span>
        {% endfor %}
        {{ form.address.label }}
        {{ form.address }}

        {{ form.submit }}

    </fieldset>
</form>


{% endblock %}